<h1>Coordinates Lookup</h1>

<form>
    <div>
      <label for="first">Address</label>
      <input name="input_address"="text" id="first">
    </div>



    <div>
      <input type="submit" value="Search Address">
      or <a href="coords">Cancel</a>
    </div>
  </form>
<d1>

</d1>
<dl>
  <dt>Address:</dt>
  <dd><%= @address %></dd>

  <dt>URL Safe Address:</dt>
  <dd><%= @url_safe_address %></dd>

  <dt>Latitude:</dt>
  <dd><%= @latitude %></dd>

  <dt>Longitude:</dt>
  <dd><%= @longitude %></dd>
</dl>
